html {
	font-family: Lato;
}

hr {
	color: #eee;
	width: 90%;
}

.title {
	font-family: monospace;
	font-size: 250%;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

@media only screen 
and (min-device-width: 50em) {
	.container {
		width: 50em;
	}
}

.content {
	font-size: 120%
}

.footnotes {
	font-size: 75%;
}

.footnote-ref {
	font-size: 75%;
}

.mono {
	font-family: monospace;
}

.footer {
	text-align: center;
	font-family: monospace;
}
